.weather-day {
    width: 30%;
    margin-right: 1.75%; 
     margin-left: 1.75%; 
    border: 1px solid black;
    border-radius: 22px;
    margin-bottom: 2.5%;
}

.weather-day h1 {
    font-size:2rem;
}