.weather-day {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 1.75%;
    /* margin-left: 1.75%; */
    border: 1px solid black;
    border-radius: 22px;
    margin-bottom: 2.5%;
    /* padding: 0.5em; */
    margin-bottom: 0.5em;

}

.weather-day h1 {
    font-size:1rem;
}

@media (orientation: landscape), (min-width: 700px){
    .weather-day {
        min-height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.remove-card {

    flex-grow: 1;
    min-height: 3vh;
    background-color: grey;
    border-radius: 0 0 22px 22px;
}