.weather-day {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-right: 1.75%; */
    border: 1px solid black;
    border-radius: 22px;
    margin-bottom: 2.5%;
    margin-bottom: 0.5em;

}

.weather-day h1 {
    font-size:1rem;
}

.favorite { 
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 22px;
}

.remove-card {
    width: 100%;
    flex-grow: 1;
    min-height: 3vh;
    background-color: grey;
    border-radius: 0 0 22px 22px;
    text-align: center;
    font-size: 1rem;
}

@media (orientation: landscape), (min-width: 700px){
    .weather-day {
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%;

    }
}

