.changeUnitButton {
    border: 1px solid black;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:1em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 3rem;
    height: 3rem;

}

.changeUnitButton {
    text-align: center;
}