.favorites-container {
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    gap: 1em;
}

.favorite {
    height: 115px;
    /* min-width: 100px; */
    text-align: center;
    /* padding-left: 1em;
    padding-right: 1em; */
}