header { 
display: flex;
justify-content: space-between;
align-items: center;
height: 10vh;
width: 100vw
}

.sticky-header {
  position:sticky;
  bottom: 0;
}

@media (orientation: portrait), (max-width: 700px) {
    /* header {
            display:  none
    } */
  }

  .site-header {
    margin-left: 1em
  
  }

  .list-conrtainer {
    margin-right: 1em
  }

  a {
    border-bottom: 1px solid transparent;
    transition: border 1s ease;
    padding-bottom: 10px;
    text-decoration: none;
    margin-right: 1em
  
  
  }
  
  
  a:hover {
    border-bottom: 3px solid black
  
  }
  
  .favorites, .home {
    border-bottom: 3px solid black
  }
  
