header { 
display: flex;
justify-content: space-between;
align-items: center;
height: 10vh;
margin-bottom: 0;
}


.sticky-header {
  position:sticky;
  bottom: 0
}

a, .list-container { 
  margin-right: 1em

}

.site-header {
  margin-left: 1em;
}

a {
  border-bottom: 1px solid transparent;
  transition: border 1s ease;
  padding-bottom: 10px;
  text-decoration: none;


}

@media (orientation: landscape), (min-width: 700px) {

  a, .list-container { 
    margin-right: 3em
  
  }
  
  .site-header {
    margin-left: 3em;
  }



  
  
  
  /* a:hover {
    border-bottom: 3px solid #00566e;
  
  } */
  
  /* .favorites, .home {
    border-bottom: 3px solid #00566e;
  } */
  
}