.home {

    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 90vh; */
    overflow-y: auto;
}

.search-current-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 2em; */
    text-align: center;

}






@media (orientation: landscape), (min-width: 700px){
    div > div{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        text-align: center;
    
      }
}

@media (orientation: landscape), (min-width: 700px) {
    .home {
        min-height: 100vh;
    }
}