.search-section  {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.english-only {
  margin-top: 5px;
}


.search-section p {
  width:100%;
  height:50px;
  color: red;
  font-weight: 15000;
}

h2, p {
    font-size: 1rem;
  
  }

  input {
    border-radius: 22px;
    padding: '300px';
    text-align: center;
    vertical-align: middle;
    width: 100%;
    max-width: 150px;
    border: 1px solid grey

  }


  @media (orientation: landscape), (min-width: 700px) {
    .english-only {
          margin-top: 3em;
    }

  }