.searchSection {
margin-bottom: 1em;
display: flex;
    flex-direction: column;
    align-items: center;

}

h2, p {
    /* padding-bottom: 1em; */
    font-size: 1rem;
  
  }

  input {
    border-radius: 22px;
    padding: '300px'

  }